---

---

<nav
  class="w-full rounded-md fixed top-0 left-0 h-14 bg-gray-900 flex justify-center"
>
  <ul class="w-1/2 flex justify-evenly items-center">
    <li><a class="uppercase" href="/pokemons/1">Pokemons</a></li>
    <li><a class="uppercase" href="/favorites">Favoritos</a></li>
    <li><a class="uppercase" href="/contact">Contact</a></li>
  </ul>
</nav>
